In [1]:
import glob
import geopandas as gpd

paths = glob.glob("Final display/*.shp")

c:\Users\kittapat.ra\AppData\Local\Programs\Python\Python39\lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
C:\Users\kittapat.ra\AppData\Local\Temp\ipykernel_16472\2415517390.py:2: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [2]:
import pandas as pd
ref_province = pd.read_excel("จังหวัด.xlsx", sheet_name = "ref_label_province")
ref_province

,ProvID,จังหวัด,อักษรย่อไทย[1],อักษรย่อโรมัน[2],ภาษาอังกฤษ,จำนวนเขต
0,50,เชียงใหม่,ชม,CMI,CHIANG MAI,10.0
1,57,เชียงราย,ชร,CRI,CHIANG RAI,7.0
2,76,เพชรบุรี,พบ,PBI,PHETCHABURI,3.0
3,67,เพชรบูรณ์,พช,PNB,PHETCHABUN,6.0
4,42,เลย,ลย,LEI,LOEI,4.0
...,...,...,...,...,...,...
74,53,อุตรดิตถ์,อต,UTT,UTTARADIT,3.0
75,61,อุทัยธานี,อน,UTI,UTHAI THANI,2.0
76,34,อุบลราชธานี,อบ,UBN,UBON RATCHATHANI,11.0
77,NaN,NaN,NaN,NaN,NaN,NaN
78,reference: https://th.wikipedia.org/wiki/%E0%B...,NaN,NaN,NaN,NaN,NaN

In [3]:
for path in paths:
    tmp = gpd.read_file(path, encoding = "utf-8")
    tmp["group"]= (abbrev := ref_province[ref_province["จังหวัด"] == tmp["P_name"][0]]["อักษรย่อโรมัน[2]"].to_list()[0])
    tmp["CONS_id"] = tmp.apply(lambda x: x["group"] + "_" + str(x["CONS_no"]) + "_area", axis = 1)
    tmp.to_file("CONS_{}.shp".format(abbrev))

In [4]:
tmp

,P_name,CONS_no,geometry,group,CONS_id
0,แม่ฮ่องสอน,2,"POLYGON ((98.08734 17.63262, 98.08384 17.63348...",MSN,MSN_2_area
1,แม่ฮ่องสอน,1,"POLYGON ((97.76727 18.59748, 97.76472 18.60515...",MSN,MSN_1_area